body {
    font-size: 24px;
}
.green {
    color: green;
}
.red {
    color: red;
}
li.red {
    color: red;
}
li.blue {
    color: blue;
}
ul.green {
    color: green;
}
p.italic {
    font-weight: italic;
}
p.bold {
    font-style: bold;
}